.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

body {
  background: #eee;
  font-family: Ubuntu;
  font-weight: 300;
}

.page-header {
  background-color: #28cdaa;
  padding: 16px;
  box-shadow: rgba(0,0,0,.4) 0 0 2px;
}

.logo-text {
  font-size: 16pt;
  line-height: 20pt;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.choice-button {
  background: transparent;
}

.action-button {
  background-color: #28cdaa;
  border-radius: 300px;
  padding: 7px 22px;
  color: #fff;
  border: none;
}

.plain-button {
  background-color: #CACACA;
  border-radius: 300px;
  padding: 7px 22px;
  color: #333;
  border: none;
}

.edit-button {
  background-color: #ffc35a;
  border-radius: 300px;
  padding: 7px 22px;
  color: #333;
  border: none;
}

th {
  text-align: left;
  font-weight: 500;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialog ul li {
  margin: 5px 0px;
}

.account-panel {
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
  margin: 10px auto;
  background-color: #fff;
  max-width: 700px;
  min-height: 600px;
  color: #586570;
}

.account-panel-title {
  padding: 20px;
  font-size: 1.5rem;
}

.account-entry-import-panel {
  padding: 20px;
}

.account-entry-list {
  padding: 20px;
}

.lightbox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3); 
}

.dialog {
  border-radius: 10px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 50px auto;
  max-width: 600px;
  min-height: 200px;
}


.loader {
  position: absolute;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #28cdaa; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
